<%= stylesheet_link_tag("index")%>
<header>
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</header>

 <%= link_to "Start",game_path, class: "btn" %>
<span class="btn-blick">
</span>



<%= image_tag "sound.jpg", class: "sound" %>


<%= video_tag "Spaceship.mp4", autoplay: :autoplay, loop: :loop, muted: :muted,  class: "home_video" %>

<div class="intro">
 <audio src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/244725/MainTitle.ogg" onloadeddata="var audioPlayer = this; setTimeout(function(){ audioPlayer.play(); }, 4500)">
</audio>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <h1><a target="_top"><img src="https://blog.flamingtext.com/blog/2022/12/20/flamingtext_com_1671566383_557787540.png" border="0" ></a>
</h1>


<p>We need you !!! </p>

<p>It is a period of civil war.
Rebel spaceships, striking
from a hidden base, have won
their first victory against
the evil Galactic Empire. </p>

<p>During the battle, Rebel
spies managed to steal secret
plans to the Empire's
ultimate weapon, the DEATH
STAR, an armored space
station with enough power to
destroy an entire planet.</p>

<p>Pursued by the Empire's
sinister agents, Princess
Leia races home aboard her
starship, custodian of the
stolen plans that can save
her people and restore
freedom to the galaxy....</p>


</div>
</section>
