body  {
  background-repeat: no-repeat;
  background-image: url(Starfield.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;



}

h1 {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  color: #feda4a;
  height: 800px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 150%;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: 100%;
  perspective: 400px;
  text-align: justify;

}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
